{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <form method="POST">
        <div class="container">
            <h1 style="padding-top: 10px; text-align: center">Soma</h1>
            <div class="form-group">
                <label for="numero1">Numero</label>
                <input type="text" name="numero1" id="numero1"
                placeholder="152" class="form-control">
            </div>
            <div class="form-group">
                <label for="numero2">Numero</label>
                <input type="text" name="numero2" id="numero2"
                placeholder="425" class="form-control">
            </div>
            <div class="btn-div" style="padding-top: 10px; text-align: center">
                <input type="submit" value="Calcular" class="btn btn-info">
            </div>

            <div style="padding-top: 10px; text-align: center">
                {% if soma != 0 %}
                    <h3>Resultado da soma</h3>
                    <p>{{ soma }}</p>
                {% else %}
                    <p>Informe dois números para efetuar a soma</p>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
